$badgeAppleArcade = #CACACA
$badgePS4 = #62BAFF
$badgeSwitch = #FF6384
$badgeXbox = #42B983
$badgeEnjoyed = #73E48B
$badgeKindEnjoyed = #E7C000
$badgeNotEnjoyed = #D3305B
$badgeStillPlaying = #8B63FF
$badgeFinished = #F9731C
$badgeDate = #FFFE2A
