<script>
export default {
  functional: true,
  props: {
    type: {
      type: String,
      default: 'tip'
    },
    text: String,
    vertical: {
      type: String,
      default: 'top'
    }
  },
  render (h, { props, slots }) {
    return h('span', {
      class: ['colorBadge', props.type],
      style: {
        verticalAlign: props.vertical
      }
    }, props.text || slots().default)
  }
}
</script>

<style lang="stylus" scoped>
.colorBadge
  margin-top 10px
  display inline-block
  font-size 19px
  height 35px
  line-height 30px
  border-radius 3px
  padding 0 6px
  // font-weight bold
  box-shadow: 3px 3px grey;
  color black
  &.appleArcade
    background-color $badgeAppleArcade
  &.ps4
    background-color $badgePS4
  &.purple
    background-color $badgePurple
  &.switch
    background-color $badgeSwitch
  &.xbox
    background-color $badgeXbox
  &.enjoyed
    background-color $badgeEnjoyed
  &.kindEnjoyed
    background-color $badgeKindEnjoyed
  &.notEnjoyed
    background-color $badgeNotEnjoyed
  &.stillPlaying
    background-color $badgeStillPlaying
  &.finished
    background-color $badgeFinished
  &.date
    background-color $badgeDate
  & + &
    margin-left 5px
</style>